/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 10px; }
h1 {
  font-size: 24px; }
h2 {
  font-size: 20px; }
h3 {
  color: #777777;
  font-size: 18px; }
h4 {
  color: #777777;
  font-size: 16px; }
h5 {
  color: #777777;
  font-size: 14px; }
h6 {
  color: #999999;
  font-size: 14px; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.nav {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  -moz-box-shadow: 0px 0px 2px rgba(000,000,000,0.2);
  -webkit-box-shadow: 0px 0px 2px  rgba(000,000,000,0.2);
}

.nav .title {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 18px;
  width: 100%;
  a {
    letter-spacing: 4px;
    margin-left: 18px;
    text-decoration: none;
    color: #fff;
    text-shadow: #666 1px 1px 0px, #666 -1px 1px 0px,
                 #666 1px -1px 0px, #666 -1px -1px 0px;
  }
}

$hero-size: 440px;
$smart-phone-hero-size: 250px;

.hero {
  position: fixed;
  z-index: 0;
  top: 0px;
  height: $hero-size;
  width: 100%;
  background-image: url(/img/main.jpg);
  background-color: #000;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .hero-container {
     margin-top: $smart-phone-hero-size;
  }
}

.concept {
    display: block;
    margin-top: 120px;
    text-align: center;
    font-size: 22px;
    color: rgba(255,255,255,0.9);
    letter-spacing: 8px;
    padding: 60px 0;
    background-color: rgba(0,0,0,0.4);
    text-shadow: #666 1px 1px 0px, #666 -1px 1px 0px,
                 #666 1px -1px 0px, #666 -1px -1px 0px;
}

.main-button {
    display: block;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(150, 28, 28, 0.87);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 40px 40px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:visited {
      color: white;
    }
    &:hover {
      background-color: #881B1B;
    }
}

@media screen and (max-width: 480px) {
  .concept {
      font-size: 14px;
      padding: 20px 0;
      margin-top: 80px;
  }
  .main-button {
      margin-top: 30px;
      font-size: 16px;
      padding: 10px;
  }
}

.container {
  margin: 0;
}

.hero-container {
  position: relative;
  z-index: 5;
  margin-top: $hero-size;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .hero-container {
     margin-top: $smart-phone-hero-size;
  }
}

.block {
  background-color: #fff;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
    .block {
        width: 460px;
    }
}

@media only screen and (min-width: 768px) {
    .block {
        padding: 40px;
        width: 42em;
    }
}

@media only screen and (min-width: 1140px) {
    .block {
        padding: 40px;
        width: 42em;
    }
}

.site {
  position: relative;
  z-index: 5;
  background-color: rgba(255,255,255,1);
  width: 100%;
  font-size: 115%;
  line-height: 1.5em;
}

.site .header a {
  z-index: 10;
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}