---
layout: default
---

{% include place %}

<h2>{{ page.title }}</h2>

<ul>
  <li><a href="{{ page.atnd }}">atnd</a></li>
  <li><a href="{{ page.togetter}}">togetter</a></li>
</ul>


<div itemscope itemtype="http://schema.org/Event">
  <h1>日時</h1>
  <span itemprop="startDate" content="{{ page.date | date: "%Y-%m-%dT%H:%M" }}">{{ page.date | date: "%Y年%m月%d日 %H:%M" }}</span>
  <h1>開催場所</h1>
  <div itemprop="location" itemscope itemtype="http://schema.org/Place">
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">広島市</span>
      <span itemprop="streetAddress">{{ place_address }}</span>
      <span itemprop="name">{{ place_name }}</span>
      <meta itemprop="addressRegion" content="広島県">
      <meta itemprop="addressCountry" content="日本">
      <meta itemprop="postalCode" content="{{ place_postcode }}">
    </div>
  </div>
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="image" content="https://raw.github.com/great-h/great-h_logo/master/logo.png">
</div>

<div id="post">
{{ content }}
</div>
